/* RESET CSS */

* {margin: 0; padding: 0; box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
  }
  
  ul, li {list-style: none;}
  
  a {text-decoration: none;}
  
  div, header, nav, footer, section, article, ul, li {margin: 0; padding: 0; box-sizing: border-box;} 
  
  
  
  
  /* 폰트 공통 */
  


  @font-face {
    font-family:'Body-Font-Medium';
    /* Body-Font-Medium */
    src:url(../font/gt-america-expanded-medium-webfont.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    -webkit-font-smoothing:antialiased;

        /* fallback에 대한 설명 아래 링크에서 확인
    https://d2.naver.com/helloworld/4969726 */
    }

  @font-face {
    font-family: 'Title-Font';
    src:url(../font/Noe-Display-Regular.woff) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    -webkit-font-smoothing:antialiased;
    }


  @font-face {
    font-family:'Body-Font';
    /* font-family: "Body-Font" ; */
    src:url(../font/OpenSans-Regular-webfont.woff) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    -webkit-font-smoothing:antialiased;
    }







  
  body {
    font-family: 'Body-Font', serif;
    line-height: 1.15;
    width: 100%;
  }
  
  .body_font_medium {
    font-family:'Body-Font-Medium';
    /* font-stretch: expanded; */
    font-size: 11px;
    line-height: 1.27em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  h2{
    font-family: 'Title-Font';
    font-size: 44px;
    line-height: 52.8px;
    font-weight: 400;

    }
  h4{
    font-family:'Body-Font-Medium';
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 24px;
    font-weight: 500;
    font-stretch: 125%;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
  }
  
  
  
  
  /* BUTTON: 수정 필요; 모양만 잡았어요 */
  .next_btn_wrap {
      position: relative;
      width: 20px;
      height: 20px;
      padding: 8px;
      border: 2px solid rgba(255, 255, 255, 0.4);
      border-radius: 100%;      display: inline-flex;
  }
  .next_button {
      position: absolute;
      width: 42px;
      height: 42px;
      bottom: -3px;
      right: -3px;
      left: -3px;
      top: -3px;

  }
  .next_arrow svg{
      padding : 0 7px;
  }
  .next_button span {
    display: block;
  }
  .next_button svg {
      fill: transparent;
  }
  .red_circle {
      width: 42px;
      height: 42px;
      position: absolute;
      left: 0px;
      top: 1px;
      stroke-dasharray: 1360;
      stroke-dashoffset: 1360;
      transform: rotate(-90deg);
  }

  @keyframes dash {

    to{
        stroke-dashoffset: 0;
    }
  }

  @keyframes dashout {
      0% {
        stroke-dashoffset: 2720;
      }
    100%{
        stroke-dashoffset: 1360;
    }

  }

/* swipper bullet */
.main_banner_container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.swipper_wrap {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 50;
}
.bullet {
    position: relative;
    margin : 0 5px;
    display: inline-flex;
}
.bullet::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.subscribe_container{
    animation: opacity_delay 6s ease infinite;
    opacity: 0;
    width: 100%;
    max-width: 300px;
    margin: 35px auto 0;
}
.subscribe_container a {
    color: white;
    height: 100%;
}
.subscribe_text{
    margin-right: 8px;
    
}

.swipper_red {

    position: absolute;
    bottom:0px;
    left: 0px;
    stroke-dasharray: 1360;
      stroke-dashoffset: 1360;
      transform: rotate(-90deg);
      animation: dash 3s ease infinite alternate;
}

/* header */
#header {
    width: 100%;
    position: fixed;
    z-index: 100000;
    top: -72px;
}
.header_wrap {
    font-family: 'Body-Font-Medium';
    width: 100%;
    height: 24px;
    padding: 24px 0 ;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    
}
.header_wrap::after{
    width: 100%;
    height: calc(100% + 20px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.8));
}

.header_conts {
    width: 100%;
    padding-left: 12px;
    list-style: none;

}
.header_conts ul {
    display: flex;
}
.header_item {
    margin: 0 24px ;
    
}


.m_header_item {
    margin: 0 24px ;
    display: none;
}



.header_logo_wrap {
    height: 24px;
    font-size: 8px;
}
.header_logo_wrap svg {
    max-width: 132px;
    height: 24px;
    color: white;
}
 .header_button {
    font-family:'Body-Font-Medium';
     border: none;
     background-color: rgba(0, 0, 0, 0);
     padding: 5px 0;
     color: white;
     /* color: white; */
     font-size: 11px;
     font-weight : 500;
     font-stretch: expanded;
     line-height: 1.27em;
     letter-spacing: 1.5px;
     text-transform: uppercase;
     cursor: pointer;
  }
  .Header__endcol__jBBfXtuB {
      flex: 1 1 100%;
  }









  /* second header */

  /* header */
#header2 {
    width: 100%;
    position: fixed;
    z-index: 100000;
}
.header2_wrap {
    font-family: 'Body-Font-Medium';
    width: 100%;
    height: 24px;
    padding: 24px 0 ;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    
}
.header2_wrap::after{
    width: 100%;
    height: calc(100% + 20px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.8));
}

.header2_conts {
    width: 100%;
    padding-left: 12px;
    list-style: none;
}
.header2_conts ul {
    display: flex;
}
.header2_item {
    margin: 0 24px ;

}


.m_header2_item {
    margin: 0 24px ;
    display: none;
}



.header2_logo_wrap {
    height: 24px;
    font-size: 8px;
}
.header2_logo_wrap svg {
    max-width: 132px;
    height: 24px;
    color: white;
}
 .header2_button {
    font-family:'Body-Font-Medium';
     border: none;
     background-color: rgba(0, 0, 0, 0);
     padding: 5px 0;
     color: white;
     /* color: white; */
     font-size: 11px;
     font-weight : 500;
     font-stretch: expanded;
     line-height: 1.27em;
     letter-spacing: 1.5px;
     text-transform: uppercase;
     cursor: pointer;
  }
  .Header2__endcol__jBBfXtuB {
      flex: 1 1 100%;
  }

  /* text 애니메이션 */
    /* animation: matrix 1s ease forwards;  */
    /* animation: matrix_delay 6s ease infinite;  */

  @keyframes matrix {
    0% {
      opacity: 0;
      transform: matrix(0.99756, 0.06975, -0.06975, 0.99756, 0, 25);
    }
    100% {
      opacity: 1;
       transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }



  @keyframes matrix_delay {
    0% {
      opacity: 0;
      transform: matrix(0.99756, 0.06975, -0.06975, 0.99756, 0, 25);
    }
    10% {
      opacity: 1;
       transform: matrix(1, 0, 0, 1, 0, 0);
    }
    90% {
        opacity: 1;
       transform: matrix(1, 0, 0, 1, 0, 0);
    }
    100% {
        opacity: 0;
      transform: matrix(0.99756, 0.06975, -0.06975, 0.99756, 0, 25);
    }
  }
  /* animation: opacity 2s ease forwards;  */
    /* animation: opacity_delay 6s ease infinite;  */
    @keyframes opacity {
        0% { opacity: 0;}
        50% { opacity: 0;}
        100% { opacity: 1;}
    }

  @keyframes opacity_delay {
      0% { opacity: 0;}
      10% { opacity: 0;}
      30% { opacity: 1;}
      90% { opacity: 1;}
      100% { opacity: 0;}
  }








  @media screen and (max-width :1599px) {

    .header_item { margin: 0 12px ;}
    .header2_item { margin: 0 12px ;}


}
@media screen and (max-width:1279px) {
     .m_header_item { display: block;}
        .header_item {display: none;}

        .m_header2_item { display: block;}
        .header2_item {display: none;}
}

@media screen and (max-width:959px){
    h2{
        font-size: 32px;
        line-height: 38.4px;
        }

    h4{
        font-size: 16px;
        line-height: 24px;
    }

}
       
