.margin_right_8 {margin: 0 8px 0 0;}

/* HERO SECTION */





/* SECTION 2 */




/* SECTION 3 */

#section3_slide_contents {
  width: 100%;
  background: rgb(255, 255, 255);
  color: rgb(24, 24, 24);
}

.news_slide_container {
  max-width: 70%;
  min-height: 697px;
  margin: 0 auto;
  padding: 64px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  /* position: relative; */
}

.slide_button_left, 
.slide_button_right {
  width: 128px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.slide_content_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_text_wrap {
  width: 50%;
  height: 100%;
  padding: 0 96px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.news_title {
  font-size: 32px;
  line-height: 1.23em;
  text-transform: uppercase;
}

.news_contents {
  max-width: 320px;
  padding: 24px 0 48px 0;
  font-family: "Body-Font";
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 1.5em;
}

.read_more_wrap a {
  color: rgb(24, 24, 24);
  display: inline-flex;
  align-items: center;
}

.read_more_wrap a:hover .icon_over_circle circle {
  animation: dash 0.3s ease forwards;
}


.news_img {
  width: 50%;
  /* flex: 1 1 auto; */
}

.news_img img {
  width: 100%;
  object-fit: cover;
}

.view_all_news {
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 32px;
}













/* SECTION 4 : DOUBLE CONTENT */

#section4_double_content {
  width: 100%;
  background: rgb(24, 24, 24);
}

.double_content_wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.single_content_wrap {
  width: 50%;
  height: 650px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.single_content_wrap a {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  color: rgb(255, 255, 255);
}

.single_text_wrap {
  width: 100%;
  /* flex: 1 1 100%; */
  padding: 48px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.single_text_wrap h5 {
  font-family:'Body-Font-Medium';
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 24px;
  font-weight: 500;
  margin: 0 0 16px;
}

.single_text_wrap h3 {
  font-family: 'Title-Font';
  font-size: 44px;
  line-height: 1.2em;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: uppercase; 
  text-align: center; 
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.single_text_wrap h3 span {
  display: inline-block;
}

.single_content_text {
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 1.5em;
  margin: 16px 0 0; 
}

.content_more_wrap {
  margin: 16px 0 0;
  display: inline-flex;
  align-items: center;
}

.content_more_wrap:hover .icon_over_circle circle {
  animation: dash 0.3s ease forwards;
}

.content_store_img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

.content_store_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0; 
}

.single_content_wrap:hover img {
  transform: scale(1.1);
  transition: transform 3s ease-in;
}



/* SECTION3 BREAK POINT 1600 */
@media screen and (max-width: 1600px) {
  
  .news_slide_container {
    max-width: 90%;
    padding: 32px 0 0;
  }
  
  .news_text_wrap {
    padding: 0 64px 0 0;
  }
  
 

  .view_all_news {
    height: 96px;
  }

}



/* SECTION3 BREAK POINT 1280 */
/* SECTION4 BREAK POINT 1280 */

@media screen and (max-width: 1280px) {

  /* SECTION 3 */
  .news_title {font-size: 26px;}

  /* SECTION 4 */
  .single_content_wrap {height: 460px;}
}



/* SECTION 3 BREAK POINT 960 */
/* FOOTER BREAK POINT 960 */

@media screen and (max-width: 960px) {
  /* SECTION 3 */
  .news_slide_container {
    max-width: 100%;
    min-height: 100%;
    padding: 32px 64px 0px;
  }

  .slide_button_left,
  .slide_button_right {
    display: none;
  }

  .news_text_wrap {
    padding: 0 32px 0 0;
  }

  .view_all_news {
    height: 64px;
    padding: 0 64px;
    justify-content: space-between;
    align-items: center;
  }


  /* FOOTER */
  .single_text_wrap h3 {
    font-size: 32px;
    line-height: 1.2em;
  }
}



/* SECTION 3 BREAK POINT 600 */
/* SECTION 4 BREAK POINT 600 */
@media screen and (max-width: 600px) {

  /* SECTION 3 */
  .news_slide_container {
    padding: 24px 24px;
  }
  
  .slide_content_wrap {
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .news_text_wrap {
    width: 100%;
    padding: 0;
  }

  .news_img {
    width: 100%;
    margin: 0 0 24px;
  }

  .news_contents {
    max-width: 100%;
    padding: 8px 0 24px 0;
  }

  .view_all_news {
    height: 56px;
    padding: 0 24px;
  }






  /* SECTION 4 */
  .double_content_wrap {
    display: block;
  }
  
  .single_content_wrap {
    width: 100%;
    height: 350px;
  }

  .single_text_wrap {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    background: radial-gradient(circle at 25% 54%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  }

  .single_text_wrap h5 {display: none;}

  .single_text_wrap h3 {
    width: 320px;
    justify-content: flex-start;
  }

}

