
/* NEWS SLIDE */

#news_slide {
  width: 100%;  background: rgb(255, 255, 255);
  color: rgb(24, 24, 24);
  overflow: hidden;
}

.news_slide_container {
  max-width: 70%;  min-height: 697px;
  margin: 0 auto;  padding: 64px 0 128px;
  display: flex; flex-flow: column;
  align-items: center;  justify-content: center;
  position: relative; z-index: 1;
  overflow: hidden;
}

#news_slide_wrap {
  width: 100%; min-height: 697px;
  position: relative; z-index: 1;
  display: flex;
  justify-content: center; align-items: center;
  overflow: hidden;
  /* box-sizing: content-box; */
}

.news_contents_wrap {
  width: 100%; height: 100%; 
  flex-shrink: 0;
  display: block;  
  position: absolute; 
  top:0; left: 0;
  /* box-sizing: border-box; */
}

.news_contents_wrap:nth-child(1) {left: 0;}
.news_contents_wrap:nth-child(2) {left: -100%;}
.news_contents_wrap:nth-child(3) {left: -100%;}
.news_contents_wrap:nth-child(4) {left: -100%;}

.news_flex_wrap {
  width: 100%; 
  display: flex; flex-flow: nowrap;
  justify-content: space-between; align-items: center; 
  align-self: stretch;
  padding: 0 128px;
}


/* 뉴스 슬라이드 텍스트 */
.news_text_wrap {
  width: 50%;  height: auto;
  padding: 0 96px 0 0;
  display: flex;  flex-flow: column;
  justify-content: center;  align-items: flex-start;
}

.news_title {
  font-size: 32px;  line-height: 1.23em;
  text-transform: uppercase;  opacity: 0;
}

.news_title_span {
  display: inline-block;  overflow: hidden;
  /* opacity: 0; */
}

.news_contents {
  max-width: 320px;  padding: 24px 0 48px 0;
  font-family: "Body-Font";  font-weight: normal;
  font-stretch: normal;  letter-spacing: normal;
  font-size: 16px;  line-height: 1.5em;  opacity: 0;
}

.news_contents_wrap .read_more_wrap {opacity: 0;}

.read_more_wrap a {
  color: rgb(24, 24, 24);
  display: inline-flex;  align-items: center;
}

.read_more_wrap a:hover .icon_over_circle circle {
  animation: dash 0.3s ease forwards;
}


/* 뉴스 슬라이드 이미지 */
.news_img_wrap {
  width: 530px;  flex: 0 0 50%;
  margin: 0; order: 0;
  background-color: rgb(238, 237, 237);
}

.news_img_picture {
  height: 100%; width: 100%;
  opacity: 1;
  background-color: rgb(238, 237, 237);
  overflow: hidden;
}

.imgOpacity {
  width: 100%;  height: 100%;
  object-fit: cover;  opacity: 0;
}





/* 슬라이드 버튼, 인덱스 버튼 스타일 */
#news_button_prev, 
#news_button_next {
  position: absolute; top: 50%; transform: translateY(-50%); padding: 0 48px; z-index: 100; cursor: pointer;
}

#news_button_prev {left: 20px;}
#news_button_next {right: 20px;}


#view_all_news {
  width: 100%;
  position: absolute; left: 50%; bottom: 96px;
  transform: translateX(-50%); z-index: 100;
  display: flex; 
  justify-content: center; align-items: center;
  padding: 0 0 32px;
}

.news_index_wrap {font-size: 0; white-space: nowrap;}

.news_index_line {
  width: 50px; height: 1px;
  margin: 0 18px 0;  background-color: rgb(143, 143, 143);
}

.news_index {
  width: 24px; height: 24px;
  margin: 0; border-radius: 100%;
  display: inline-block; position: relative;
  cursor: pointer;
}

.news_index::after {
  width: 4px; height: 4px;
  content: ""; position: absolute;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
  border-radius: 100%; background: rgb(24, 24, 24);
  overflow: hidden; 
}

.news_index svg {
  position: absolute;
  top: 50%; left: 50%; width: 100%; height: 100%;
  transform: translate(-50%, -50%) rotate(-90deg);
}















/* DOUBLE CONTENT */

#double_content {
  width: 100%; background: rgb(24, 24, 24);
}

.double_content_wrap {
  width: 100%;  margin: 0 auto;
  display: flex;
}

.single_content_wrap {
  width: 50%;  height: 650px;
  display: flex;  position: relative;
  overflow: hidden;
}

.single_content_wrap a {
  display: flex;  position: absolute;
  width: 100%;  height: 100%;
  top: 0;  left: 0;
  z-index: 2;  color: rgb(255, 255, 255);
}

.single_text_wrap {
  width: 100%;  padding: 48px;
  display: flex;  flex-flow: column;
  justify-content: flex-end;
  align-items: center;  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.single_text_wrap h5 {
  font-family:'Body-Font-Medium';
  font-size: 16px;  letter-spacing: 1.5px;
  line-height: 24px;  font-weight: 500;
  margin: 0 0 16px;
}

.single_text_wrap h3 {
  font-family: 'Title-Font';
  font-size: 44px;  line-height: 1.2em;
  font-weight: normal;  font-stretch: normal;
  letter-spacing: normal;  text-transform: uppercase; 
  text-align: center;   display: flex;
  flex-flow: wrap;  justify-content: center;
}

.single_text_wrap h3 span {display: inline-block;}

.single_content_text {
  font-weight: normal;  font-stretch: normal;
  letter-spacing: normal;  font-size: 16px;
  line-height: 1.5em;  margin: 16px 0 0; 
}

.content_more_wrap {
  margin: 16px 0 0;  display: inline-flex;
  align-items: center;
}

.content_more_wrap:hover .icon_over_circle circle {
  animation: dash 0.3s ease forwards;
}

.content_store_img {
  width: 100%;  height: 100%;
  z-index: -1;  position: absolute;
}

.content_store_img img{
  width: 100%;  height: 100%; object-fit: cover;  
  position: absolute;  top: 0;  left: 0; 
}

.single_content_wrap:hover img {
  transform: scale(1.1);
  transition: transform 3s ease-in;
}






/* NEWS SLIDE ANIMATION */
@keyframes fade_in_rtl {
  0% {left: 100%; }
  100% {left: 0; }
  }
@keyframes fade_out_rtl {
  0% {left: 0}
  100% {left: -100%}
  }

@keyframes fade_in_ltr {
  0% {left: -100%; opacity: 0;}
  100% {left: 0; opacity: 1;}
  }
@keyframes fade_out_ltr {
  0% {left: 0; opacity: 1;}
  100% {left: +100%; opacity: 0;}
  }

/* NEWS IMG FADE IN OUT */
@keyframes imgOpaFadeIn {
  0% {opacity: 0;}
  20% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes imgOpaFadeOut {
  0% {opacity: 0;}
  100% {opacity: 0;}
}

/* NEWS TEXT FADE IN OUT */
@keyframes newsTextFadeIn {
  0% {opacity: 0; transform: translateY(30px);}
  30% {opacity: 1; transform: translateY(0px);}
  80% {opacity: 1; transform: translateY(0px);}
  100% {opacity: 0; transform: translateY(30px);}
}

@keyframes newsTextFadeOut {
  0% {opacity: 1; transform: translateY(0px);}
  100% {opacity: 0; transform: translateY(100px);}
}


/* TITLE Matrix */
@keyframes newsTitleFadeIn {
  0% {opacity: 0; transform: matrix(0.99756, 0.06975, -0.06975, 0.99756, 0, 25);}
  100% {opacity: 0; transform: matrix(1, 0, 0, 1, 0, 0);}
}



@keyframes matrix_delay {
  0% {
    opacity: 0;
    transform: matrix(0.99756, 0.06975, -0.06975, 0.99756, 0, 25);
  }
  10% {
    opacity: 1;
      transform: matrix(1, 0, 0, 1, 0, 0);
  }
  90% {
      opacity: 1;
      transform: matrix(1, 0, 0, 1, 0, 0);
  }
  100% {
      opacity: 0;
    transform: matrix(0.99756, 0.06975, -0.06975, 0.99756, 0, 25);
  }
}

.matrix_style {animation: matrix_delay 6s ease 1.2s alternate forwards;}


  












/* NEWS SLIDE BREAK POINT 1600 */
@media screen and (max-width: 1600px) {
  
  .news_slide_container {
    max-width: 90%;  min-height: 380px;
    padding: 32px 0 96px;
  }

  #news_slide_wrap {min-height: 680px;}
  
  .news_text_wrap {padding: 0 64px 0 0;}

  .news_img_wrap {width: 50%; flex: 0 0 50%;}

  #view_all_news {bottom: 50px;}

}



/* NEWS SLIDE BREAK POINT 1280 */
/* DOUBLE BREAK POINT 1280 */

@media screen and (max-width: 1280px) {

  /* NEWS SLIDE */
  .news_title {font-size: 26px;}
  #news_slide_wrap {min-height: 540px;}

  /* SECTION 4 */
  .single_content_wrap {height: 460px;}
}



/* NEWS SLIDE BREAK POINT 960 */
/* FOOTER BREAK POINT 960 */

@media screen and (max-width: 960px) {
  /* NEWS SLIDE */
  .news_slide_container {
    max-width: 100%;  min-height: 380px;
    padding: 32px 0px 0px;
  }
  #news_slide_wrap {min-height: 580px;}

  #news_button_prev, #news_button_next {display: none;}

  .news_flex_wrap {padding: 0 64px;}

  .news_index_line {display: none;}

  .news_text_wrap {padding: 0 32px 0 0;}

  #view_all_news {
    padding: 0 64px;
    justify-content: space-between;  align-items: center;
  }


  /* FOOTER */
  .single_text_wrap h3 {
    font-size: 32px;
    line-height: 1.2em;
  }
}



/* NEWS SLIDE BREAK POINT 600 */
/* DOUBLE BREAK POINT 600 */
@media screen and (max-width: 600px) {

  /* NEWS SLIDE */
  .news_slide_container {padding: 24px 0 0;}
  #news_slide_wrap {min-height: 960px;}
  
  .news_flex_wrap {
    width: 100%; flex-flow: wrap;
    padding: 24px 24px 0;
  }

  .news_text_wrap {width: 100%; flex: 1 0 auto; padding: 0;}

  .news_img_wrap {
    width: 100%; flex: 0 0 100%;
    margin: 0 0 24px; order: -1;
  }

  .news_contents {max-width: 100%;padding: 8px 0 24px 0;}
  #view_all_news {padding: 0 24px; bottom: 24px;}






  /* DOUBLE */
  .double_content_wrap {
    display: block;
  }
  
  .single_content_wrap {
    width: 100%;
    height: 350px;
  }

  .single_text_wrap {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    background: radial-gradient(circle at 25% 54%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
  }

  .single_text_wrap h5 {display: none;}

  .single_text_wrap h3 {
    width: 320px;
    justify-content: flex-start;
  }

}


/* 모바일 사이즈 400 이하*/
@media screen and (max-width: 400px) {

  /* NEWS SLIDE */
  #news_slide_wrap {min-height: 660px;}
  
  .news_flex_wrap {
    width: 100%; flex-flow: wrap;
    padding: 24px 24px 0;
  }

  .news_text_wrap {
    width: 100%; flex: 1 0 auto; padding: 0;
  }

  .news_img_wrap {
    width: 100%;  flex: 0 0 100%;
    margin: 0 0 24px; order: -1;
  }

  .news_contents {max-width: 100%;padding: 8px 0 24px 0;}
  #view_all_news {padding: 0 24px; bottom: 24px;}
}




