/* Components */

@import "components/menu-header.css";
@import "components/menu-list.css";

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Font Face */

@font-face {
  font-family: "Open Sans Regular";
  src: url(fonts/OpenSans-Regular-webfont.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Semi-Bold";
  src: url(fonts/OpenSans-Semibold-webfont.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noe Display Regular";
  src: url(fonts/Noe-Display-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT America Regular";
  src: url(fonts/gt-america-standard-regular-webfont.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT America Medium";
  src: url(fonts/gt-america-expanded-medium-webfont.woff2);
  font-weight: bold;
  font-style: normal;
}
