/* Keyframes */
/* 
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

#menu_list {
  position: relative;
  width: 452px;
  height: 800px;
  padding-left: 96px;
  margin-right: 96px;
  list-style-type: disc;
  overflow-x: hidden;
  overflow-y: hidden scroll;
}

#menu_list::-webkit-scrollbar {
  width: 1px;
}

#menu_list::-webkit-scrollbar-thumb {
  background-color: black;
}

#menu_list::-webkit-scrollbar-track {
  background-color: #eeeded;
}

#menu_list:hover::-webkit-scrollbar {
  width: 6px;
  transition: 0.2 ease-in-out;
}

#menu_list::after,
#menu_list::before {
  content: "";
  position: absolute;
  left: 50%;
  z-index: 2;
  pointer-events: none;
  transition: opacity 0.2s ease;
  transform: translateX(-50%);
}

.menu_list_wrap {
  animation: fadeIn 1s ease-in;
}

.menu_list_wrap li {
  font-family: "Noe Display Regular";
  padding: 16px 0;
  color: #8f8f8f;
}

.menu_list_big_font {
  font-size: 32px;
}

.auto_menu_list li:hover,
.auto_menu_list_sub li:hover {
  color: #000;
  cursor: pointer;
}

.auto_menu_list_sub {
  font-size: 24px;
}

.menu_list_wrap_divider {
  display: block;
  width: 70px;
  border-top: 2px solid #8f8f8f;
  margin: 30px 0;
}

.menu_list_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_list_box li:hover {
  color: #000;
  cursor: default;
}

.li-1,
.li-2,
.li-3,
.li-4,
.li-5,
.li-6,
.li-7,
.li-8,
.li-9,
.li-10,
.li-11 {
  opacity: 0;
}

/* Racing Menu Styles */

/* Universe Menu Styles */

.universe_menu_list li:hover {
  color: #000;
  cursor: pointer;
}
