#auto_menu_section,
#racing_menu_section,
#universe_menu_section {
  width: 36%;
  height: 100vh;
}

#auto_menu_list,
#racing_menu_list,
#universe_menu_list {
  position: relative;
  width: 95%;
  height: 75%;
  padding-left: 96px;
  padding-right: 48px;
  margin-right: 48px;
  list-style-type: disc;
  overflow-x: hidden;
  overflow-y: hidden scroll;
}

#auto_menu_list::-webkit-scrollbar {
  width: 1px;
}

#auto_menu_list:hover::-webkit-scrollbar {
  width: 6px;
}

#auto_menu_list::-webkit-scrollbar-thumb {
  background-color: black;
}

#auto_menu_list::-webkit-scrollbar-track {
  background-color: #eeeded;
}

@keyframes matrix {
  0% {
    opacity: 0;
    transform: matrix(0.99756, 0.06975, -0.06975, 0.99756, 0, 25);
  }
  100% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.matrix_menu_li {
  color: black;
  animation: matrix 1s ease forwards;
  transform: matrix(0.99756, 0.06975, -0.06975, 0.99756, 0, 25);
  opacity: 0;
}

.menu_list_wrap li {
  font-family: "Noe Display Regular";
  padding: 16px 0;
  color: #8f8f8f;
}

.menu_list_big_font {
  font-size: 32px;
}

.menu_list li:hover,
.menu_list_sub li:hover {
  color: #000;
  cursor: pointer;
}

.menu_list a li:hover {
  color: #000;
  cursor: pointer;
}

.menu_list_sub {
  font-size: 24px;
}

.menu_list_wrap_divider {
  display: block;
  width: 70px;
  border-top: 2px solid #8f8f8f;
  margin: 30px 0;
}

.menu_list_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_list_box li:hover {
  color: #000;
  cursor: default;
}

/* 1280 responsive-menu list styles */

@media screen and (max-width: 1280px) and (min-width: 962px) {
  #responsive-wrapper {
    width: 100vw;
    height: 100vh;
  }

  #auto_menu_section,
  #racing_menu_section,
  #universe_menu_section {
    width: 35%;
  }

  #auto_menu_list {
    width: 420px;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 64px;
    padding-right: 32px;
  }

  #racing_menu_list,
  #universe_menu_list {
    width: 420px;
    margin-top: 10px;
    padding-left: 64px;
    padding-right: 32px;
  }

  .menu_link_title {
    width: 315px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  .menu_list_wrap li {
    padding: 8px 0;
    color: #000;
  }
}

@media screen and (max-width: 961px) {
  #responsive-wrapper {
    width: 100vw;
    height: 100vh;
  }

  #auto_menu_section,
  #racing_menu_section,
  #universe_menu_section {
    width: 100%;
    height: 100vh;
  }

  #auto_menu_list,
  #racing_menu_list,
  #universe_menu_list {
    width: 100%;
    padding: 0 32px;
    overflow-y: scroll;
  }

  .menu_link_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 315px;
    margin-bottom: 35px;
    cursor: pointer;
  }

  .menu_link_title h2 {
    font-family: "Noe Display Regular";
    font-size: 50px;
    font-weight: 400;
  }

  .menu_wrap {
    width: 100%;
  }

  .menu_list_wrap li {
    padding: 8px 0;
    color: #000;
  }
}

@media screen and (max-width: 601px) {
  .menu_link_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
  }

  #auto_menu_section,
  #racing_menu_section,
  #universe_menu_section {
    width: 100%;
  }
}
